(
    root: Midi(
        node_id: Some(101),
        source: FilePath("demo/LoopingMidi.mid"),
        channels: {
            0: AdsrEnvelope(
                attack_time: 0.5,
                decay_time: 1.0,
                sustain_multiplier: 0.75,
                release_time: 0.125,
                source: LfsrNoise( inside_feedback: false )
            ),
            1: SampleFilePath(
                path: "demo/guitar-a2-48k-mono.wav",
                base_note: 45,
                looping: None
            )
        }
    )
)
